@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0; }
}
/*=----------*/
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes desktopslide {
    from { background-position-x:0%;}
    to   { background-position-x:100%;}
}



body{
    background-color:#eee;
    padding:0px;
    margin:0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:14px; 
    width:100%;
    height:100%;
    position:fixed;
}

h1,h2,h3,h4{
    padding:0px;
    margin:0px;
    display:inline-block;
}

hr{ border:0px;
    padding:0px;margin:5px 0px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #eee;
}

p{padding:0px;margin:0px;}

marquee{margin:0px;}

div.fullwidth{width:100%}
div.table{display:table;}
div.row{display:table-row;}
div.cell{display:table-cell;vertical-align:top;}
.alright{text-align:right;}
.alcenter{text-align:center;}
.alleft{text-align:left;}
.altop{vertical-align: top;}
.almiddle{vertical-align: middle;}


div.desktop{
    top:0px;
    left:0px;
    position:fixed;
    width:100%;
    height:100%;
    display:block;
    display: inline-flex;
    align-content: flex-start;
    flex-flow: column wrap;
    overflow: hidden;
    padding:15px;
    padding-bottom:30px;
    box-sizing: border-box;
    background-color:#fff;
    background-image:url('../../../../lib/wallpaper/back1.jpg');

    
    background-color:#fff;
    background-position-y: center;
    background-position-x: center;/*deplete*/
    background-repeat: no-repeat;
    /*background-size: auto 100%;*/

    /*-webkit-animation: desktopslide 3s ease forwards; */
    /*-webkit-animation: dimm 10s ease forwards; */
    /*animation-iteration-count:infinite;*/
}
/*
div.desktop > div.icon > p.name{
    color:white;
}
div.desktop > div.selectedicon> p.name >span.nameselective{
    background-color:#5b2008;
}*/







div.icon{
    opacity:0;
    cursor: default;
    resize:none;
    display:inline-block;
    width: 80px;
    height: 100px;
    text-decoration:none;
    color:#333;
    text-align: center;
    overflow: hidden;
    position:relative;
    -webkit-animation: fadein 1s ease forwards; /* Safari and Chrome */
}

div.icon:hover{-webkit-filter: brightness(110%);filter: brightness(110%);}
div.icon p{
    margin:0px;
    padding:0px;
}
div.icon p.icon{
    width: 32px;
    height:32px;
    display:inline-block;
}
div.icon p.name{
    display:block;
    word-wrap: break-word;
    font-size:12px;
    margin-top:4px;
}
div.icon p.name span.nameselective{
    padding:0px;
    margin:0px;
    padding:0px 1px;

}
div.icon p.name span.nameinfo{
    font-size:10px;
}
div.selectedicon{overflow: visible;z-index: 1;}
div.selectedicon p.name span.nameselective{
    background-color:#ddd;
}
div.selectedicon p.icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 1s ease;
}
div.icon img.shortcut {
    position:absolute;
    top:21px; 
}







div.window{
    animation: fadein 0.5s ease;
    -moz-animation: fadein 0.5s ease; /* Firefox */
    -webkit-animation: fadein 0.5s ease; /* Safari and Chrome */
    -o-animation: fadein 2s ease; /* Opera */
    background-color:#eee;
    border:1px solid #666;
    position:absolute;
    font-size:13px;
    top:0px;
    left:0px;
    background-color:white;
    box-shadow:0px 0px 7px #555;
    border-radius: 4px;
}

div.window div.titlebar{
    background-color:#666;
    color:#fff;
    font-size:13px;
    padding:0px 0px 3px 0px;
    border-radius: 4px 4px 0px 0px;

}
div.window div.titlebar div.appicon{
    width:22px;
    vertical-align:middle;
    padding:0px 4px;
}
div.window div.titlebar div.appname{
    vertical-align:middle;
}
div.window div.titlebar div.windowsactions{
    text-align:right;
    padding-right:4px;
}
div.window div.titlebar:hover div.windowsactions a{
    -webkit-filter: contrast(80%);
    filter: contrast(80%);
    transition: all 1s ease;
}
div.window div.titlebar div.windowsactions a img , div.window div.titlebar div.appicon img{
    vertical-align: middle;
}
div.window div.titlebar div.windowsactions a{
    vertical-align: middle;
    display:inline-block;
    -webkit-filter: contrast(0%);
    filter: contrast(0%);
    transition: all 1s ease;
}
div.window div.titlebar div.windowsactions a:hover{
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}
div.window div.titlebar div.windowsactions a:active{
    -webkit-filter: brightness(80%);
    filter: brightness(90%);
}
div.window div.content{
    border-radius: 0px 0px 4px 4px ;
    overflow: auto;
    clear: both;
}
div.window div.content *{
    resize: none;
}



div.window div.appinfobox{
    background-color:#eee;
    border:1px solid #666;
    position:absolute;
    font-size:13px;
    top:100px;
    left:100px;
    background-color:#ccc;
    height:100px;
    box-shadow:0px 0px 15px #555;


    width:240px;
    height: 200px;
    overflow-y: auto;
    font-size:11px;
    padding:10px;
    vertical-align: middle;
    display:none;
}




div.layout_default{
    background-color:#ddd;
    min-width: 200px;
}
div.layout_white{
    background-color:#fff;
    min-width: 200px;
}
div.layout_black{
    background-color:#000;
    color:#fff;
    min-width: 200px;
}

div.layout_default_toolbar , div.layout_white_toolbar{border-bottom:1px solid #ccc;}
div.layout_black_toolbar{border-bottom:1px solid #000;}





div.iconview-horizontal{
    padding:10px;
    display: inline-flex;
    align-content: flex-start;
    flex-flow: row wrap;
}





div.toolbar{
    background-color:#f1f1f1;
    /*border-bottom:1px solid #ccc;*/
    border-top:1px solid #666;
    
}
div.toolbar div.cell{
    vertical-align: middle;
}




div.toolbar div.dirpath{
    padding:0px 4px;
}
div.toolbar div.dirpath input[type="text"].input_dirpath{
    padding:4px 5px;
    font-size:11px;
    height:100%;
    width:100%;
    outline:none;
    background-color: #fff;
    border:1px solid #ccc;
    box-shadow:0px 1px 0px #fff;
    color:#666;

    box-sizing: border-box; /* css3 rec */
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box; /* konqueror */
}

div.toolbar div.dirpath a.dirp{
    display: inline-block;
    font-size:12px;
    padding:2px 1px;
    color:#666;
    margin:0px;
    vertical-align: middle;
    text-decoration: none;
}
div.toolbar div.dirpath img{
    vertical-align: middle;
}
div.toolbar div.dirpath a.dirp:hover{
    color:#4587ed;
}

div.toolbar div.actionbuttons{
    padding:4px 4px;
    border-right:1px solid #ccc;
}

div.toolbar div.actionbuttons a{
    display:inline-block;
    text-decoration:none;
    color:#666;
    padding:1px 5px;
    vertical-align: middle;
    border:1px solid #ccc;
    box-shadow:inset 1px 1px 0px #fff;
    font-size:13px;
}
div.toolbar div.actionbuttons a:hover{cursor: pointer;}
div.toolbar div.actionbuttons a img{
    vertical-align: middle;
}
div.toolbar div.actionbuttons a:active{
    box-shadow: 1px 1px 0px #fff;
}

div.toolbar ul{
    font-size:12px;
    padding:2px 7px;
    margin:0px;
    display:inline-block;
    position:relative;
}
div.toolbar ul:hover{
    background-color:#ddd;
}
div.toolbar ul:hover div{
    display:block;
}
div.toolbar ul div{
    display:none;
    position:absolute;
    background-color:#eee;
    list-style-type: none;
    margin:0px;
    border:1px solid #999;
}
div.toolbar ul div li{
    display:block;
    padding:3px 10px;
    width:100px;
}
div.toolbar ul div li:hover{
    background-color:#ccc;
}


div.dialog_layout{
    vertical-align:top;
    width:100%;
    height:100%;
    overflow-x: hidden;
}

div.dialog_layout .cell{
    vertical-align:bottom;
    padding:10px;
    word-wrap: break-word;
}

div.dialog_layout .cell:nth-child(even){
    border-left:1px solid #eee;

}
div.dialog_layout .cell:nth-child(odd){
    border-right:1px solid #999;
    width: 48px;
    background-color:#cfcfcf;
}

.button{
    border:1px solid #999;
    box-shadow:inset 1px 1px 0px #fff , inset -1px -1px 0px #ccc;
    background-color:#eee;
    text-decoration: none;
    padding:5px 12px;
    display:inline-block;
    color:#333;
    text-shadow:1px 1px 0px #fff;
    vertical-align: middle;
    margin:2px;
}
.button img{
    vertical-align: middle;
}

.button:active , .button:focus{
    box-shadow:inset -1px -1px 0px #fff , inset 1px 1px 0px #ccc;
    text-shadow:-1px -1px 0px #fff;
}




.input{
    margin:5px 0px;
    font-size:13px;
    border:1px solid #999;
    box-shadow:1px 1px 0px #fff , inset 1px 1px 0px #ccc;
    background-color:#fff;
    text-decoration: none;
    padding:4px 12px;
    display:inline-block;
    color:#333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    outline:none;
}



.select {
    -webkit-appearance: button;
    -webkit-border-radius: 0px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;

    background-image: url('images/bz.png');
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #999;

    box-shadow:1px 1px 0px #fff , inset 1px 1px 0px #ccc;
    background-color:#fff;

    font-size:13px;
    overflow: hidden;
    padding: 4px 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:200px;
    outline:none;
    margin:5px 0px;
}





div.loading{
    position:absolute;
    top:50%;
    left:50%;
    background-color:rgba(255,255,255,0.5);
    /*width: 200px;*/
    text-align: center;
    border-radius: 5px;
    padding:5px;
    display:none;
}


div.ardosinfo{
    padding:10px;
    width:200px;
    position:absolute;
    bottom:70px;
    right:10px;
    background-color:rgba(230,200,230,0.5);
    border-radius:5px;
    font-size:12px;
    text-align: left;
}
/*



div.loading p.progress{
    width:10%;
    border:1px solid #999;
    border-radius:3px;
    background-color: #ccc;
    box-shadow:inset 1px 1px 0px #ddd;
    height:8px;
}*/



div.footer{
    position:fixed;
    right:10px;
    bottom:10px;
    color:rgba(255,255,255,1);
    text-shadow:-1px -1px 0px rgba(12,12,12,0.5);
    font-size: 12px;
    text-align: right;
}





div.user{
    position:absolute;
    top:0px;
    right:0px;
    border-radius:5px;
    font-size:12px;
    padding:4px 3px;
    display:none;
}
div.user p.username{
    padding:3px 8px;
    text-align: right;
    display:block;
    cursor:pointer;
    font-size:13px;
    text-shadow:1px 1px 0px #eee;
    border-radius:4px;
}
div.user p.username:hover{
    color:orangered;
}


div.usermenu{
    background-color:#eee;
    color:#666;
    border:1px solid #999;
    position:fixed;
    top:35px;
    right:3px;
    display: none;
    vertical-align: top;
    width:120px;
    border-radius:4px;
}
div.usermenu ul{padding:0px;margin:0px;border-radius:4px;}
div.usermenu ul li{
    display:block;
    list-style-type: none;
    margin:0px;
    padding:0px;
}
div.usermenu ul li:first-child{border-radius:4px 4px 0px 0px;}
div.usermenu ul li:last-child{border-radius:0px 0px 4px 4px;}
div.usermenu ul li a{
    display:block;
    text-decoration:none;
    font-size:12px;
    padding:4px 8px;
    color:#666;
}
div.usermenu ul li a:hover{color:#000;}
div.usermenu ul li:active a:hover{color:#4587ed;}
div.usermenu ul li:nth-child(odd){background-color:#e5e5e5;}
div.usermenu ul li:nth-child(odd):hover{background-color:#e5e5f5;}

div.usermenu ul li:nth-child(even){background-color:#eeeeee;}
div.usermenu ul li:nth-child(even):hover{background-color:#eeeefe;}




.contextmenu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}
.contextmenu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}
.contextmenu li:hover {
    background-color: #DEF;
    cursor:default;
}


div.tasks{
    width:100%;
    position:fixed;
    bottom:0px;
    left:0px;
}
div.tasks li{
    list-style-type: none;
    margin:0px;
    padding:0px;
    display:inline-block;
    background-color:rgba(51,51,51,0.5);
    padding:4px 8px;
    transition: all 1s ease;
}
div.tasks li p.info{
    display:none;
    position:absolute;
    background-color:#ffc;
    box-shadow:0px 0px 4px #999;
    padding:2px 4px;
    font-size:10px;
    top:-20px;
    border-radius:2px;
}
div.tasks li:active{background-color:rgba(121,121,121,0.5);}
div.tasks li:hover p.info{display:inline-block;}
div.tasks li img{
    vertical-align: middle;
    opacity: 0.5;
}
div.tasks li:hover img{opacity:1;}
div.tasks li.selected img{opacity: 1;}
div.tasks li.showhidetasks{border-radius:2px;transition: all 1s ease;}
div.tasks div.taskscontainer{
    display:inline-block;
    transition: all 1s ease;
}
div.tasks li.showhide{background-color:rgba(0,0,0,0);}
div.tasks li.showhide img{
    transition: all 1s ease;
    opacity:1;
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}











div.devnum{
    width:100px;
    height:50px;
    text-align: center;
    vertical-align: middle;
    position:absolute;
    font-size:30px;
    font-weight: bold;
    color:red;
    bottom:10px;
    right:10px;
    background-color:rgba(0, 0, 0, 0.1);

}

pre{
    padding:0px;
    margin:0px;
    display:inline-block;
    width:100%;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

}

pre code{
    font-family: "Lucida Console", Monaco, monospace;
    font-size:13px;
}





span.error{
    color:#333;
    background-color:#e5aaa0;
}


::-webkit-scrollbar {
    width: 10px;
    height:10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px; 
    background-color:#ccc;
    border:1px solid #666;
    box-shadow:inset 1px 1px 0px #eee;
    padding:2px;
}

::-webkit-resizer {
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAABHSURBVHjajM7RCQAgCATQo8Edyxl0qgv7CArqFAQPHipIQnVEcEBUZtLdITeZGWtuoSe8UeUWqtxCx+kf2lCh9WMHVZ4CDADj7xFC8l50hgAAAABJRU5ErkJggg==');
    background-color: #fff;
    background-repeat: no-repeat;
    border-radius: 0px 0px 4px 4px 
}